### PROJECTE MATRICULES
# una proba que va fer el berni
matricules/Automatic-Number-Plate-Recognition-using-Yolov8-and-EasyOCR-Full-Course-Python/

#pycache
matricules/__pycache__/

# Ignore .env (descomenteu la següent linea un cop tothom tingui el .env)
 .env 

# Ignore image files
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.mp4

# Yolo ignores
matricules/models/YoloV8/*
!/matricules/models/YoloV8/models/

### PROJECTE TRACKING
car_tracker/videos/short.npy